<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="lab1.Properties.Settings.SecretServicesConnectionString"
            connectionString="Data Source=DESKTOP-5D8G6BA\SQLEXPRESS;Initial Catalog=SecretServices;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>

