 .diply-navbar {
  width:100%;
  height: 65px;
  background-color:#1586d2;
  position: fixed;
  top:0;
  overflow: hidden;
  transition: top 0.3s;
  z-index: 2;

}

.row {
  display: flex;
  margin-top: 10px;
}
.column {
  flex: 33.33%;
  margin-top: 10px;
  padding: 10px;
  
}

.under-navbar {
  width:100%;
  height: 40px;
  background: white;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.03);
}

.main {
  margin-top: 65px; 
  height: 100%;
  width: 71.5%;
  background-color: white;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  display: inline-block;
}

.main-content {
  display: inline-block;
}

.main-content div {
  /* border: 1px solid black; */
}

.footer {
  margin-top: 470px;
  height: 70px;
  width: 76%;
  background-color: white;
  display: flex;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.footer-container {
  display: flex;
  width:97%;
  height: 76px;
}

.footer-container div {
  /* border:1px solid black; */
}

/* NAVBAR WITH FLEX */

.margin-top {
  margin-top: 3px;
}

.under-navbar-content {
  display: flex;
  width: 76%;
  
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.under-navbar-content div{
  /* border: 1px solid black; */
}

.diply-container {
  display: flex;
  width: 78%;
  
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.diply-container div {
  /* border: 1px solid black; */
}

/* FLEXBOX ITEMS */

/* NAVBAR */

.diply-image {
  flex: 1;
  margin-left: -15%;
  margin-top: 7px;
}

.diply-search {
  flex: 4;
  margin: 5px;
  margin-left:15px;
  padding-top: 2px;
}

.diply-contul-meu {
  flex: 1;
  margin: 5px;
  margin-left: 5%;
}

.diply-favorite {
  flex: 1;
  margin: 5px;

}
.diply-animals{
  flex: 1;
  margin: 5px;
  margin-left: -23%;
}

.diply-pop{
  flex: 1;
  margin: 5px;
  margin-left: -22%;
}

.diply-humor{
  flex: 1;
  margin: 5px;
 margin-left: -19%;
}

.diply-del {
  flex: 1;
  margin: 5px;
  margin-left: -23%;
}

.diply-crafty{
  flex: 1;
  margin: 5px;
  margin-left: -21%;
}
.diply-icon{
  flex:1;
  margin: 5px;
  margin-right: -180px;
  align-items: :left;
}

/* UNDER NAVBAR */


.flex-2 {
  flex: 2;
}

.flex-1 {
  flex: 1;
  font-size: 14px;
}

.small-text-under-navbar {
  height: 40px;
}

.main-image {
  overflow:hidden;
}

.main-menu {
  margin-left:5px;
  height: 100%;
  font-size: 14px;
  font-family:  Montserrat,sans-serif;
}

/* OTHER */

.menu-text-element {
  color: white;
  font-family:  Montserrat,sans-serif;
  font-size: 14px;
  font-weight:600;
}

.navigation-table {
  position: absolute;
  margin-left: -3%;
  font-family:  Montserrat,sans-serif;
}

.navigation-table:hover {
  cursor: pointer;
  opacity: 0.8;
}

.navbar-inner {
  width:100%;

  border-collapse: separate;
  will-change: margin;
  display: table;
  padding-top:24px;
  padding-bottom:24px;
}

.navbar-branding {
  display: table-cell;
  width: auto;
  vertical-align: middle;
}

.navbar-searchbox {
  padding-left: 10px;
  padding-right: 40px;
  display: table-cell;
  width:631px;
  height:36px;
  float:left;
}

.searchbox-wrapper {
  width: 80%;
  height: 36px;
  /* background-color: white; */
  border-radius: 3px;
}

body {
  margin: 0;
  background-color: white;
  font-family: Montserrat,sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #222;
}

.input-field {
  width:89%;
  height: 36px;
  border-radius: 2px;
  color: black;
  font-size: 16px;
  font-family: "ProximaNova-Light";
  border: 1px solid gray;
  padding-left: 15px;
  position: relative;
}

.input-field::before { 
  content: "";
  position:absolute;
  margin-top:-6px;
  margin-left:-5px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #146f79;
  transform:rotate(-45deg);
  right: -15px; 
  top: 10px;
}

.submit-button {
  float: left;
  width: 20%;
  padding: 40px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 90.4%;
  background: white;
  border-right: none;
  font-size: 16px;
}

form.example button {
  float: right;
  width: 6%;
  padding: 10px;
  background: white;
  color: white;
  font-size: 16px;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: whitesmoke;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

.footer-table {
  width: 100%;
  height: 70px;
}

tr.spaceUnder>td {
  padding-top: 6px;
  padding-bottom: 7px;
}

td:hover {
  cursor:pointer;
  /* border-bottom:1px solid rgba(0, 0, 0, 0.1);;
  border-top:1px solid rgba(0, 0, 0, 0.1);; */
  color: #0d60b5;
}

.imgAvatar {
    display: inline-block;
    border-radius: 50%;


}

.right{
  margin-left:2px;
  display: block;
  }

.publisher-name{
  display:inline-block;
  position: absolute;
  margin-bottom:.4rem;
  font-family:Montserrat,Verdana,sans-serif;
  font-size:.80rem;
  color:#696e74;
  text-transform:uppercase;
  line-height:.875rem;
  box-shadow:inset 0 -1px 0 #cce7f7;
  transition:all .3s;
  font-weight:400;
  text-decoration:none}

.base-article-link{
  text-decoration:none;
  color:#111;
  font-size: 18px;
  vertical-align: middle;
  text-align: center;
  }

.base-article-link2{
  text-decoration:none;
  color:#111;
  font-size: 20px;
  vertical-align: middle;
  text-align: center;
  }
.title{
  margin:0;
  font-family:Montserrat-SemiBold,Verdana,sans-serif;
  line-height:1.2;
  font-weight:600;
  margin-top:13px
  text-transform:uppercase;
  
}
.title1{
  margin:0;
  font-family:Montserrat-SemiBold,Verdana,sans-serif;
  line-height:1.2;
  font-weight:550;
  font-size: 19px;
  margin-right: 10%;
  text-transform:uppercase;
  
}

.article-card.columns{
  display:flex;
  flex-direction:row;
  margin-top: 10px;
  }.article-card.columns .image{flex:1}
.article-card.columns .text-section{margin-left:15px;flex:1}
.article-card.columns .categories{margin:0}
.article-card.columns .text-section .title{font-size:1.25rem}

.trending-section{

  display: flex}

.header{display:flex;justify-content:space-between;align-items:center}
.header-left,
.header-right{display:flex}.page-name{font-weight:700;font-size:14px;margin:3px 10px}.text{
  font-size:14px;color:#000;margin:10px 0}

.trending-icon__svg-circle{fill:#ff3266;
width: 10px;
height: 10px;}
.trending-articles{display:flex;
  flex-direction:column;
  }

.column1 {
  float: left;
  width:72%;
}
.column2{
  float:left;
  width:28%;
}

/* Clear floats after the columns */
.row1:after {
  content: "";
  display: table;
  clear: both;
}
